{{#each blogPosts as |blogPost| }}

<div class="card" style="width: 20 rem;">
  <div class="form card-body" id="{{blogPost.id}}">
    <h1 class="card-title">{{blogPost.title}}</h1>
    <h6 class="card-subtitle mb-2 text-muted">{{blogPost.user.name}} on {{format_date date_created}}</h6>
    <p class="card-text">{{blogPost.description}}</p>
    <a href="/update/{{blogPost.id}}" class="btn btn-primary">Update</a>
     
  </div>
</div>


{{/each}}

<div class="card" style="width: 20 rem;">
  <a href="/newblog" class="btn btn-primary">New Blog Post</a>
</div>

