<!-- Loop over each object in the projects array -->
{{#each blogPosts as |blogPost| }}
<div class="card" style="width: 18 rem;">
  <div class="card-body">
    <h5 class="p-3 mb-2 bg-info text-white">{{blogPost.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{blogPost.user.name}} on {{format_date date_created}}</h6>
    <p class="card-text">{{blogPost.description}}</p>
    <a href="/comment/{{blogPost.id}}" class="btn btn-primary">Add Comment</a>
  </div>
</div>
{{/each}}